[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git

[submodule "libs/cglm"]
	path = libs/cglm
	url = https://github.com/recp/cglm.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
